discord.py==2.3.2
asyncpg==0.29.0
python-dotenv==1.0.0
PyNaCl==1.5.0
pandas==2.1.1
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
aiohttp==3.8.5
requests==2.31.0
aiodns==3.0.0  # For faster DNS resolution
uvloop==0.17.0  # For faster event loop (not available on Windows)
pytz==2023.3  # Add this line for timezone handling
sqlparse==0.4.4
